# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"

# Generate one at <https://resend.com>
# The free trial usually is enough :)
RESEND_API_KEY=

# If you do not want to use a custom subdomain, you
# can instead use <onboarding@resend.com> as a
# temporary solution.
# The form submissions will get sent FROM this email.
RESEND_FROM_ADDRESS=

# This should, in most cases, be your email address.
# The form submissions will get sent TO this email.
RESEND_TO_ADDRESS=

# Your PostHog key. Get one at <https://posthog.com>
NEXT_PUBLIC_POSTHOG_KEY=

# Your PostHog server host.
NEXT_PUBLIC_POSTHOG_HOST=

